.animated {
    @include transition(all, .4s, linear, .0s);
}

.slide-right {
    
    right: -100%;

    &.show {
        right: 0;
    }
}

.slide-left {
    
    left: -100%;

    &.show {
        left: 0;
    }
}