.font-Interstate-l {
	font-family: "InterstateLight", helvetica, arial, sans-serif;
}

.font-Interstate-b {
	font-family: "InterstateBold", helvetica, arial, sans-serif;
}

.font-Interstate {
	font-family: "Interstate", helvetica, arial, sans-serif;
}

.font-Interstate-i {
	font-family: "InterstateItalic", helvetica, arial, sans-serif;
}

.font-Interstate-i-l {
	font-family: "InterstateLightItalic", helvetica, arial, sans-serif;
}

.font-Interstate-i-b {
	font-family: "InterstateBoldItalic", helvetica, arial, sans-serif;
}

.font-Interstate-r {
	font-family: "MazdaRegular", helvetica, arial, sans-serif;
}