*,
:before,
:after {
  box-sizing: border-box;
}

html, body {
  height: auto;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

// Images
img {
  display: block;
  height: auto;
  max-width: 100%;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p {
  margin: 0 0 1.45em;
}

blockquote {
  margin: 0 1.45em;
}

address {
  margin: 0 0 1.45em;
}

span {
  line-height: initial;
}

ul,
figure {
  margin: 0;
  padding: 0;
}