<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a href="">Logotipo</a>
    </div>
    <div class="navbar-nav">
      <ul>
        <li>alert</li>
        <li>menu</li>
      </ul>
    </div>
  </div>
</nav>
<nav class="sidebar" pg-animation="slide-right">
  <div class="container">
    <div class="sidebar-header">
      <a href="">Voltar</a>
    </div>
    <div class="sidebar-nav">
      <ul>
        <li>alert</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
        <li>menu</li>
      </ul>
    </div>
  </div>
</nav>